<div fxLayout="column">

  <h2 fxLayoutAlign="center">
    {{title}}
  </h2>

  <div fxFlex>
    <div class="pie-chart" #containerPieChart></div>
  </div>

  <div *ngIf="labels" class="legend" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>
    <div *ngFor="let label of labels; let i = index" class="item">
      <div fxFlex="1 1 100px" fxLayout="row" fxLayoutGap="8px">
        <div class="circle" [ngStyle]="{'background': colourSlices[i]}"></div>
        <div>{{label}}</div>
      </div>
    </div>
  </div>

</div>
