<div class='wrapper'>
  <div class='pie-chart' #containerPieChart></div>

  <div *ngIf='labels'class='legend' fxLayout='row' fxLayoutAlign='center center'>
    <div *ngFor='let label of labels; let i = index' fxLayout='row' fxLayoutAlign='start center' class='item'>
      <div class='circle' [ngStyle]='{"background": colourSlices[i]}'></div>
      <div>{{label}}</div>
    </div>
  </div>

  <div class='tooltip drilldownData'>
    <div class='header' *ngIf='selectedSlice'>
      <div fxLayout='row' fxLayoutAlign='start center'>
        <img [src]='"assets/Icon-" + selectedSlice.familyType + ".svg"' alt='Database Icon'>
        <div fxLayout='column' fxLayoutAlign='center start'>
          <div class='title'>{{selectedSlice.familyType}}</div>
          <div>Queries</div>
        </div>
      </div>
    </div>
    <div class='body' fxLayout='row' fxLayoutWrap *ngIf='selectedSlice'>
      <div *ngFor='let item of selectedSlice.types' class='item' fxFlex="50%">
        <div class='label'>{{item.type}}</div>
        <div class='value'>{{item.amount}}</div>
      </div>
    </div>
  </div>
</div>
