<div [class.dark-theme]="isDarkTheme" fxFlex>

  <mat-toolbar color="primary" fxLayout="row" fxLayoutGap="10px">
    <span>Budgee</span>
    <a [@flyInOut] routerLink="/overview" mat-button>Overview</a>
    <a [@flyInOut] routerLink="/manage" mat-button>Manage</a>
    <span fxFlex></span>
    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #themeMenu>
    <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </mat-menu>

  <!--<mat-sidenav-container>-->
  <!--<div fxLayout="row">-->
  <router-outlet></router-outlet>
  <!--</div>-->
  <!--</mat-sidenav-container>-->

</div>
