<!--<div [@flyInOut] fxLayout="row" fxLayoutWrap>-->
<div [@flyInOut]>
  <!--<app-pie-chart [data]="data" [colours]="colours" [title]="byCategoryChartTitle" fxFlex="1 1 300px"></app-pie-chart>-->
  <!--<app-pie-chart [data]="data" [colours]="colours" [title]="byCategoryChartTitle"></app-pie-chart>-->
  <!--<app-pie-chart [data]="data" [colours]="colours" [title]="byCategoryChartTitle"></app-pie-chart>-->
  <app-pie-chart [data]="data" [colours]="colours" [title]="byCategoryChartTitle"></app-pie-chart>
</div>
