<div [@flyInOut] fxLayout="column" class="little-margin">

  <mat-form-field >
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.category}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="period">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Period</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.period}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.value">{{row.value}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="income">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Income?</mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color">
          <mat-checkbox [checked]="row.isIncome" disabled></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Remove</mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="removeTransaction(row)"><mat-icon>remove_circle_outline</mat-icon></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editSelectedTransaction(row)"></mat-row>

    </mat-table>

    <!--<span fxFlex="1 1 auto"></span> todo doesn't work without fixed values-->

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
  </div>

  <div fxLayoutAlign="end" fxLayoutGap="10px" class="little-top-margin">
    <button mat-fab (click)="downloadTransactionsDialog()">
      <mat-icon>file_download</mat-icon>
    </button>

    <button mat-fab (click)="addNewTransactionDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
