<div class="ui container">
  <br>
  <div class="ui secondary menu">
    <div class="header item">
      <img src="../../favicon.png">
      Budgee
    </div>

    <a [@flyInOut] class="item" routerLink="/overview" routerLinkActive="active">Overview</a>
    <a [@flyInOut] class="item" routerLink="/statistics" routerLinkActive="active">Statistics</a>
    <a [@flyInOut] class="item" routerLink="/calculator" routerLinkActive="active">Calculator</a>

    <div class="right menu">

    </div>
  </div>

  <div class="ui divider"></div>
  <br>

  <div class="ui center vertical segment">
    <router-outlet></router-outlet>
  </div>
</div>
